.container {
  width: 360px;
  background-color: red;
  margin: 100px auto;
  padding: 20px 10px;
  border-radius: 8px;
}

.input-group {
  position: relative;
  width: 100%;
  padding: 10px;
}

input {
  width: 100%;
  font-size: 1.8rem;
  padding: 5px 10px;
  border-radius: 8px;
}

.input-icon {
  position: absolute;
  right: 10px;
  transform: translateX(-50%);
  font-size: 1.8rem;
}

.login {
  margin-top: 5px;
  margin-bottom: 10px;
}

.signup {
  width: 100%;
  display: flex;
  justify-content: right;
}
