.container {
  display: flex;
  height: 100%;
  margin-top: 60px;
}

.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
}

.content {
  flex-grow: 1;
  margin-left: 250px;
  padding: 20px;
  overflow: auto;
}

.icon-up {
  position: fixed;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  padding: 10px;
  color: var(--color-text-sidebar);
  background-color: #d0e0ff;
  cursor: pointer;
}

@media (max-width: 600px) {
  .content {
    margin-left: 0px;
  }
}

.home {
  text-align: center;
  padding: 30px;
}

.banner {
  width: 100%;
  height: 400px; // hoặc bất kỳ chiều cao nào bạn muốn
  object-fit: cover;
  border-radius: 12px;
}


.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 80px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.card p {
  font-size: 15px;
  color: #666;
  line-height: 1.4;
}