.container {
  display: flex;
  height: 100%;
  margin-top: 60px;
}

.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
}

.content {
  flex-grow: 1;
  margin-left: 250px;
  padding: 20px;
  overflow: auto;
}

.icon-up {
  position: fixed;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  padding: 10px;
  color: var(--color-text-sidebar);
  background-color: #d0e0ff;
  cursor: pointer;
}

@media (max-width: 600px) {
  .content {
    margin-left: 0px;
  }
}
