.container {
  display: flex;
  align-items: center;
  padding: 10px 50px;
  background-color: #f8f9fa;
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
}

.home {
  margin-right: 20px;
  cursor: pointer;
}

.menu-toggle {
  display: none;
}

.btn-login {
  margin-left: auto;
}

/* Ẩn menu trên điện thoại, chỉ hiện "Trang chủ" và icon */
@media (max-width: 768px) {
  .btn-login {
    display: none;
  }

  .menu-toggle {
    display: block;
    font-size: 24px;
    cursor: pointer;
    margin-left: auto;
  }

  .container {
    padding: 10px 20px;
  }
}
