.container {
  display: flex;
  align-items: center;
  padding: 10px 50px;
  background-color: var(--secondary);
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  z-index: 10;
}

.title {
  margin-right: 20px;
  font-size: 2rem;

  &:hover {
    text-shadow: -1px -1px 0 #cccccc, 1px -1px 0 #cccccc, -1px 1px 0 #cccccc,
      1px 1px 0 #cccccc;
  }
}

.menu-toggle {
  display: none;
}

.btn-login {
  margin-left: auto;
}

/* Ẩn menu trên điện thoại, chỉ hiện "Trang chủ" và icon */
@media (max-width: 768px) {
  .btn-login {
    display: none;
  }

  .menu-toggle {
    display: block;
    font-size: 24px;
    cursor: pointer;
    margin-left: auto;
  }

  .container {
    padding: 10px 20px;
    left: 0;
  }
}
