.container {
  padding: 1rem;
}

.question-block {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.question-header {
  background: #f0f8ff;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

.question-title {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 8px;
  cursor: pointer;

  .arrow-icon {
    width: 16px;
    height: 16px;
    transform-origin: center center;
    display: block;
  }
}

.icons {
  .icon-edit,
  .icon-delete {
    margin-left: 20px;
    padding: 3px;

    color: #555;
    cursor: pointer;
  }

  .icon-edit {
    color: blue;
  }

  .icon-delete {
    color: red;
  }
}

.answers {
  background: #f9f9f9;
  padding: 10px 20px;
}

.answer {
  margin-bottom: 5px;
}

.answer.correct {
  color: green;
  font-weight: bold;
}

.no-question {
  padding: 20px;
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  font-style: italic;
  color: #888;
  background-color: #f8f9fa;
  border: 1px dashed #ccc;
  border-radius: 12px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.container-filter {
  display: flex;
  font-size: 1.6rem;
  padding: 5px;
  justify-content: center;
  align-items: center;

  margin-bottom: 5px;
}

.title-filter,
.select-filter,
.title-number-question,
.number-question {
  padding: 5px;
  width: 200px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.title-filter,
.title-number-question,
.number-question {
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-number-question {
  display: flex;
  flex: 1;
  gap: 15px;
  justify-content: center;

  .number-question {
    color: rgb(12, 225, 12);
    font-weight: bold;
  }
}

.group-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  flex: 1;
  justify-content: center;

  .select-filter {
    font-size: 1.6rem;

    &:hover {
      cursor: pointer;
    }
  }
}
