.container {
  width: 250px;
  height: 100vh;
  background: var(--color-bg-sidebar); /* Màu xanh nhạt */
  color: var(--color-text-sidebar); /* Xanh đậm */
  padding: 0px 15px 15px 15px;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng đổ */
  overflow-y: scroll;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.logo span {
  margin-left: 15px;
}

.item {
  padding: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e3f2fd; /* Xanh nhạt */
  margin: 5px 0;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: #cce5ff; /* Màu xanh sáng hơn khi hover */
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    transform: scale(1.03); /* Phóng to nhẹ khi hover */
  }
}

.subject {
  margin-left: 10px;
}

.sub-items {
  margin-left: 20px;
}

.sub-item {
  padding: 6px 0;
  cursor: pointer;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    color: #007bff; /* Xanh dương chủ đạo */
    transform: translateX(5px); /* Dịch chuyển nhẹ sang phải */
  }
}

.icon {
  margin-left: 10px;
  color: #007bff; /* Đồng bộ màu icon */
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
}
