.signupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #028aec, #764ba2);
}

.homeLink {
  position: fixed;
  top: 20px;
  left: 20px;
  color: white !important;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    color: black !important;
    transition: border-color 1s ease-in-out !important;
  }
}

.signupBox {
  background: white;
  padding: 3rem 4rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 550px;
  border: 2px solid #0170cb; /* Thêm viền xanh dương */
}

h2 {
  margin: 0;
  padding-bottom: 25px;
  border: 0;
  font-size: 140%;
  vertical-align: baseline;
}

.inputGroup {
  text-align: left;
  position: relative;
  padding: 15px;

  label {
    display: block;
    font-weight: bold;
    color: #444;
    font-size: 18px;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 8px 0;
    border: none;
    border-bottom: 2px solid #aaa;
    font-size: 16px;
    background: transparent;
    outline: none;
    transition: border-color 0.3s ease-in-out;

    &:focus {
      border-color: #0170cb;
    }
  }
}

.input-and-icon {
  position: relative;
}

.icon-eye {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  cursor: pointer;
}

.icon-close {
  position: absolute;
  right: 43px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: red;
}

.signupBtn {
  width: 50%;
  padding: 12px;
  background: var(--primary);
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

p {
  margin-top: 10px;
  color: #666;

  a {
    color: #667eea;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;

    &:hover {
      color: #5a67d8;
    }
  }
}
.labelWrapper {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #444;
  font-size: 14px;
  margin-bottom: 5px;
}

.inputIcon {
  margin-right: 8px;
  font-size: 16px;
}

@media (max-width: 600px) {
  .signupBox {
    width: 100%;
    border-radius: 0;
    padding: 5.5rem 1.5rem 2rem 1.5rem;
    box-sizing: border-box;
    border: none;
  }

  h2 {
    padding-bottom: 10px;
  }

  .signupBtn {
    width: 100%;
  }

  .homeLink {
    color: black !important;

    &:hover {
      color: white !important;
      transition: border-color 1s ease-in-out !important;
    }
  }
}
